[Desktop Entry]
Type=Application
Name=Fortune
Icon=icons-Applications-widgets
Exec=mannequin Fortune This is a placeholder for the MeeGo Fortune Application
