[Desktop Entry]
Type=Application
Name=RSS Reader
Icon=icons-Applications-default
Exec=mannequin RSS This is a placeholder for the MeeGo RSS Reader Application
