[Desktop Entry]
Type=Application
Name=Stocks
Icon=icons-Applications-widgets
Exec=mannequin Stocks This is a placeholder for the MeeGo Stocks Application
