[Desktop Entry]
Type=Application
Name=Trailers
Icon=icons-Applications-video
Exec=mannequin Trailers This is a placeholder for the MeeGo Trailers Application
